* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #af9a7d;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #cfcfcf;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 3px;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* globals */
body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
}
/* end of globals */
/* Navbar */
.stickIt {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    height: 8vh
}
/* end of navbar */
/* Hero */
.defaultHero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.roomsHero,
.singleRoomsHero{
    min-height: 80vh;
}

.stars {
    z-index: -1;
}
#ball {
    width: 3px;
    height: 3px;
    /*position: fixed;*/
    border-radius: 50%;
    background: white;
    /*animation-duration: 1s;*/
    animation-iteration-count: infinite;
    animation-name: fade;
    animation-timing-function: linear;
}

@keyframes fade {
    50% {
        transform: scale(0.5);
        /*opacity:0.5;*/
    }
}
/* End of Hero */
.avatar-img {
    /*margin: auto;*/
    height: 250px;
    /*padding-top: 5em;*/
    /*border-radius: 50%;*/
}
/* Banner */
.banner {
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    color: var(--mainWhite);
    padding: 2rem 1rem;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}
.banner h1 {
    font-size: 2.5rem;
}
.banner div {
    width: 10rem;
    height: 5px;
    background: var(--primaryColor);
    margin: 1.7rem auto;
}
.banner p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
    .banner {
        padding: 2rem 3rem;
    }
    .banner h1 {
        font-size: 3rem;
    }
}
@media screen and (min-width: 992px) {
    .banner {
        padding: 2rem 6rem;
    }
    .banner h1 {
        font-size: 4rem;
    }
}
/* End of Banner */
/* Title */
.section-title {
    text-align: center;
    margin-bottom: 4rem;
}
.section-title h4 {
    font-size: 2rem;
    letter-spacing: var(--mainSpacing);
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.section-title div {
    width: 5rem;
    height: 5px;
    margin: 0 auto;
    background: var(--primaryColor);
}
/* end of Title */

/* featured rooms */

.featured-rooms {
    padding: 5rem 0;
}
.featured-rooms-center {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
    .featured-rooms-center {
        width: 90vw;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }
}
@media screen and (min-width: 992px) {
    .featured-rooms-center {
        width: 95vw;
        max-width: 1170px;
    }
}
/* end pf featured rooms */

/* room */
.room {
    box-shadow: var(--lightShadow);
    transition: var(--mainTransition);
}
.room:hover {
    box-shadow: var(--darkShadow);
}

.img-container {
    position: relative;
}
.img-container img {
    width: 100%;
    display: block;
    transition: var(--mainTransition);
    height: 10vh;
}

.room-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0);
    transition: all 0.3s linear;
}
.img-container:hover {
    background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
    opacity: 0.3;
}
.img-container:hover .price-top {
    opacity: 0;
}
.img-container:hover .room-link {
    transform: translate(-50%, -50%) scale(1);
}
.room-info {
    background: var(--darkGrey);
    text-transform: capitalize;
    padding: 0.5rem 0;
    text-align: center;
    font-weight: 700;
    letter-spacing: var(--mainSpacing);
}

/* end of room  */

.social {
    margin: auto;
    font-size: 4vmax;
}
.contact-feature{
    background: lightsteelblue;
}

/*contacts page*/
.contact-body {
    margin: auto;
    background: gray;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    padding-top: 2em;
    z-index: -1;
}
.contact-layout {
    text-align: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    background: white;
    color: black;
    border: 2px solid red;
    margin-top: 8vh;
}
.contact-layout img {
    max-width: 100%;
    display: block;
    height: auto;
}
.contact-layout i {
    font-size: 4vmax;
}
.contact-layout p {
    font-size: 2vmax;
}
/*resume page*/
.resume-right-col {
    background: #27221f;
    color: white;
    padding: 2em;
}
.text-left h5 {
    display: inline;
}
/*mobile responsive*/
@media only screen and (max-width: 450px) {
    .banner-text h1 {
        font-size: 8vw;
    }
    .contact-layout p {
        /*transform: scale(0.75);*/
    }
    h2, h3, h4, h5 {
        transform: scale(0.75);
    }
    .education h4, .experience h4 {
        display: inline;
        font-size: large;
    }
    .skills p, .education p {
        text-align: start;
    }

}

